.elementor-277 .elementor-element.elementor-element-2b4ab59{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-277 .elementor-element.elementor-element-2c34694:not(.elementor-motion-effects-element-type-background), .elementor-277 .elementor-element.elementor-element-2c34694 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-277 .elementor-element.elementor-element-2c34694{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-11px 0px 0px 0px;padding:50px 0px 70px 0px;}.elementor-277 .elementor-element.elementor-element-2c34694 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-277 .elementor-element.elementor-element-de27911{margin:0px 0px 0px 100px;}.elementor-277 .elementor-element.elementor-element-136bcdd{text-align:justify;color:var( --e-global-color-accent );}.elementor-277 .elementor-element.elementor-element-2345f92 > .elementor-element-populated{margin:0px 0px 0px 60px;--e-column-margin-right:0px;--e-column-margin-left:60px;}.elementor-277 .elementor-element.elementor-element-be655fb .elementor-heading-title{color:var( --e-global-color-accent );}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(17px/2);}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(17px/2);}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(17px/2);margin-left:calc(17px/2);}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-17px/2);margin-left:calc(-17px/2);}body.rtl .elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-17px/2);}body:not(.rtl) .elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-17px/2);}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-277 .elementor-element.elementor-element-8714e97{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-277 .elementor-element.elementor-element-8714e97 .elementor-icon-list-text{color:var( --e-global-color-accent );transition:color 0.3s;}.elementor-277 .elementor-element.elementor-element-bff7132 .elementor-heading-title{color:var( --e-global-color-accent );}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(32px/2);}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(32px/2);}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(32px/2);margin-left:calc(32px/2);}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-32px/2);margin-left:calc(-32px/2);}body.rtl .elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-32px/2);}body:not(.rtl) .elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-32px/2);}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-277 .elementor-element.elementor-element-eb133e4{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-277 .elementor-element.elementor-element-eb133e4 .elementor-icon-list-text{color:var( --e-global-color-accent );transition:color 0.3s;}.elementor-277 .elementor-element.elementor-element-0334ea3 > .elementor-element-populated{margin:0px 0px 0px 30px;--e-column-margin-right:0px;--e-column-margin-left:30px;}.elementor-277 .elementor-element.elementor-element-2471ca3 .elementor-heading-title{color:var( --e-global-color-accent );}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(17px/2);}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(17px/2);}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(17px/2);margin-left:calc(17px/2);}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-17px/2);margin-left:calc(-17px/2);}body.rtl .elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-17px/2);}body:not(.rtl) .elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-17px/2);}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-277 .elementor-element.elementor-element-153aa2a{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-277 .elementor-element.elementor-element-153aa2a .elementor-icon-list-text{color:var( --e-global-color-accent );transition:color 0.3s;}.elementor-277 .elementor-element.elementor-element-ade2164:not(.elementor-motion-effects-element-type-background), .elementor-277 .elementor-element.elementor-element-ade2164 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-277 .elementor-element.elementor-element-ade2164 > .elementor-background-overlay{background-image:url("../../2024/05/15000069_5543418-1.webp");background-size:30% auto;opacity:0.27;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-277 .elementor-element.elementor-element-ade2164{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-11px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-277 .elementor-element.elementor-element-0086534{text-align:center;}.elementor-277 .elementor-element.elementor-element-0086534 img{width:6%;}.elementor-277 .elementor-element.elementor-element-0086534 > .elementor-widget-container{margin:-13px 0px 0px 0px;padding:1px 0px 38px 0px;background-image:url("../../2024/05/svgexport-11-1-1-svg.webp");background-position:50% 0px;background-repeat:no-repeat;background-size:452px auto;}.elementor-277 .elementor-element.elementor-element-2db22b2{color:var( --e-global-color-accent );}.elementor-277 .elementor-element.elementor-element-2db22b2 > .elementor-widget-container{margin:-14px 0px 16px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-277 .elementor-element.elementor-element-0086534 > .elementor-widget-container{background-position:0% 0px;}}@media(max-width:767px){.elementor-277 .elementor-element.elementor-element-2b4ab59{margin:0px 0px 0px 0px;}.elementor-277 .elementor-element.elementor-element-b0d2dc6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-277 .elementor-element.elementor-element-0ae76ac > .elementor-element-populated{padding:0px 30px 0px 30px;}.elementor-277 .elementor-element.elementor-element-de27911{margin:0px 0px 0px 0px;}.elementor-277 .elementor-element.elementor-element-2345f92 > .elementor-element-populated{margin:20px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-277 .elementor-element.elementor-element-53816fd > .elementor-element-populated{margin:20px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-277 .elementor-element.elementor-element-0334ea3 > .elementor-element-populated{margin:20px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-277 .elementor-element.elementor-element-ade2164 > .elementor-background-overlay{background-size:387px auto;}.elementor-277 .elementor-element.elementor-element-0086534 img{width:20%;}.elementor-277 .elementor-element.elementor-element-0086534 > .elementor-widget-container{padding:0px 0px 15px 0px;background-position:50% 0px;background-size:339px auto;}.elementor-277 .elementor-element.elementor-element-2db22b2 > .elementor-widget-container{padding:0px 20px 0px 20px;}}@media(min-width:768px){.elementor-277 .elementor-element.elementor-element-0937a14{width:23.268%;}.elementor-277 .elementor-element.elementor-element-2345f92{width:24.614%;}.elementor-277 .elementor-element.elementor-element-53816fd{width:26.034%;}.elementor-277 .elementor-element.elementor-element-0334ea3{width:26.042%;}}/* Start custom CSS for html, class: .elementor-element-b0d2dc6 */.sc_relative {
    position: relative !important;
}
.sc_separator{
	position: absolute; 
    z-index: 0;
    display: grid;
    /*width: calc(100% + 0px);
    margin-left: -1px;*/
    
    overflow: hidden;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.sc_separator svg {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    width: calc(100% + 1px);
}
.sc_sep_top {
    top: -2px;
    transform: rotateX(180deg);
}
.sc_sep_rotatey_top {
    top: -2px;
    transform: rotateX(180deg) rotateY(180deg);
}
.sc_sep_bottom {
    bottom: -1px;
}	
.sc_sep_rotatey_bottom {
    bottom: -1px;
    transform: rotateY(180deg);
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
}

.vc_row[data-vc-full-width], footer .vc_row[data-vc-full-width] {
    z-index: 0 !important;
    overflow: visible !important;
}
.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2b4ab59 */.test .elementor-widget-wrap.elementor-element-populated {
    padding-right: 0 !important;
    padding-left: 0 !important;
}/* End custom CSS */